<%= form_for(@waypoint) do |f| %>
  <% if @waypoint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@waypoint.errors.count, "error") %> prohibited this waypoint from being saved:</h2>

      <ul>
      <% @waypoint.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :client_time %><br />
    <%= f.time_select :client_time %>
  </div>
  <div class="field">
    <%= f.label :trip %><br />
    <%= f.text_field :trip %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
