<!DOCTYPE html>
<html>
<head>
  <title>TrackMe</title>
  <%= stylesheet_link_tag  'bootstrap', 'bootstrap-responsive', 'common' %>
  <%= javascript_include_tag 'jquery.js','jquery_ujs.js','bootstrap.min.js', 'bootstrap-buttons.js', 'bootstrap.tabs.js', 'underscore' %>
  <%= csrf_meta_tag %>
  <%= yield :deferred_js %>
</head>
 <body data-spy="scroll" data-target=".subnav" data-offset="50"> 
 <!-- Navbar
    ================================================== --> 
    <div class="navbar navbar-fixed-top"> 
      <div class="navbar-inner"> 
        <div class="container"> 
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
            <span class="icon-bar"></span> 
            <span class="icon-bar"></span> 
            <span class="icon-bar"></span> 
          </a> 
          <a class="brand" style="-webkit-transform: rotate(9deg);color:#56A5EC;font-size:20px;font-weight:bold" href="/"><b>Track</b> M..<img src ="/images/smile.png" /> </a>  
        
          <div class="nav-collapse"> 
            <ul class="nav"> 
            <% if user_signed_in? %> 
              <li class="active"> 
                <a href="/trips">Trips</a> 
              </li> 
              <li > 
                <a href="/users/iam_watching">Watching</a> 
              </li> 
               <li > 
                <a href="/users/watching_me">Watchers</a> 
              </li> 
               <li > 
                <%= link_to "Sign out", destroy_user_session_path, :method => :delete %> 
              </li> 
              <% else %>
               <li > 
                <a href="/users/sign_in">Sign In</a> 
              </li> 
                             <li> 
                <a href="/users/sign_up">Sign Up</a> 
              </li> 

              <% end %>
            </ul> 
          </div> 
        </div> 
      </div> 
    </div> 


<div class="container" style="padding-top:30px"> 
<%= yield %>
</div>
</body>
</html>
